<header class="hck-masthead hck-jumbotron">
  <div class="container">
    <h1>Makehub</h1>
    <p>It's like github. But for makers.</p>
  </div><!-- Put a logo here. -->
</header>

<div class="container hck-container">
  <section class="hck-newest-projects">
    HERE!
  </section>
</div>

