<div class="media_object row-fluid">
  <div class="span8">
    <%= f.label :image, 'Pictures -- Select a file to upload' %>
    <%= f.file_field :image%>
  </div>
  <div class="span4">
    <%= image_tag f.object.image.url(:thumb) %>
  </div>
</div>
