/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.project-meta {
  margin-bottom: 1.5em;
}

.project-steps ol {
  list-style: none;
  margin: 0;
}

.project-steps li {
  position: relative;
  width: 18em;
  min-height: 3em;
  padding: 1em 1em 1em 2.75em;
  background: #EEE;
  margin-bottom: 1.25em;
}

.project-steps .step-number {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 3em;
  font-weight: bold;
}
