/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "_default_vars";

// Bootstrap variables
$navbarBackground: $secondary;
$navbarBackgroundHighlight: $secondary;
$navbarLinkColor: $primary;
$navbarLinkColorHover: $primary;
$navbarLinkColorActive: $primary;
$navbarLinkBackgroundActive: $secondary;
$navbarBrandColor: $brandColor;

$linkColor: $secondary;
//$headingsColor: $primary;

$baseBorderRadius: 0;
$borderRadiusLarge: 0;
$borderRadiusSmall: 0;

$inputBackground: #E5E6EA;
$placeholderText: #000;
$inputBorder: transparent;
$btnPrimaryBackground: $btnPrimary;
$btnPrimaryBackgroundHightlight: $btnPrimary;

@import "bootstrap";
@import "bootstrap-responsive";

.btn-primary.secondary-color {
  background-color: $secondary;
  background-image: none;
}

.navbar.makehub-nav .navbar-inner {
  //padding-top: $headerPadding;
  .brand {
    font-weight: bold;
    font-size: 32px;
    //position: relative;
    //bottom: 23px;
  }
}

//.main-container { margin-top: $headerPadding; }

.account_sign_in a {
  margin-top: 30px;
}

.hck-new-project-link {
  background-color: $white;
}

.hck-container {
  min-height: 50em;
  padding-top: 2.5em;
}

.hck-masthead {
  color: $white;
  background: $green url() 0 0 no-repeat;
}

.hck-mastfoot {
  background-color: $grey;
  color: $white;
  font-size: $fontSizeSmall;
  height: 8em;
  margin-top: 2.5em;
  padding-top: 3em;
  text-align: center;
}
