// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  .media_object {
    border: 1px solid #c0c0c0;
    padding: 5px;
    max-width: 95%;
  }
  .actions {
    margin-top: 10px;
  }
}
