<div class="container">
  <h1>Editing material</h1>

  <%= render 'form' %>

  <%= link_to 'Show', project_material_path(@project, @material) %> |
  <%= link_to 'Back', project_materials_path(@project) %>
</div>
